*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
    background-color: #4771a5;
}

.cruzadinha {
    display: grid;
    grid-template-columns: repeat(32, 25px);
    grid-template-rows: repeat(33, 25px);
    margin: 50px auto;
    width: fit-content;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    margin-left: 5vw;
}


.espaço{
    background-color: white;
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

.quadrados {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    text-align: center;
    outline: none;
    text-transform: uppercase;
    font-size: 20px;
}

.numero{
    display: flex;
    border: none;
    width: 25px;
    height: 25px; 
    align-items: center;
    justify-content: center;
    font: 20px;
    font-weight: bold;
}

.direita{
    margin: 50px auto;
    padding-left: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    padding: 20px;
    font-size: 15px;
}

input{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

.div_cpu{
    grid-column: 25;
    grid-row: 12/23;
}

.div_ula{
    display: flex;
    grid-column: 3/20;
    grid-row: 18;
   
}

.div_regis{
    display: flex;
    grid-column: 1/15;
    grid-row: 8;
}

.div_ram{
    display: flex;
    grid-column: 2/16;
    grid-row: 12;
}

.div_ram_tipo{
    grid-column: 16;
    grid-row: 12/19;
}

.div_rom{
    display: flex;
    grid-column: 22/33;
    grid-row: 23;
}

.div_rom_tipo{
    display: flex;
    grid-column: 3/12;
    grid-row: 17;
}

.div_epron{
    grid-column: 3;
    grid-row: 2/13;
}

.div_epron_tipo{
    grid-column: 30;
    grid-row: 22/32;
}

.div_flash{
    display: flex;
    grid-column: 8/21;
    grid-row: 11;
}

.div_flash_tipo{
    display: flex;
    grid-column: 2/13;
    grid-row: 24;
}

.div_AB{
    grid-column: 12;
    grid-row: 20/29;
}

.div_DB{
    display: flex;
    grid-column: 15/26;
    grid-row: 17;
}

.div_massa{
    grid-column: 28;
    grid-row: 16/26;
}

.div_massa_tipo{
    display: flex;
    grid-column: 2/11;
    grid-row: 19;
}
.div_dma{
    grid-column: 11;
    grid-row: 13/26;
}

.div_cs{
    grid-column: 14;
    grid-row: 9/21;
}

.div_i5{
    grid-column: 10;
    grid-row: 13/20;
}

.div_i7{
    display: flex;
    grid-column: 6/11;
    grid-row: 21;
}
.div_dual{
    grid-column: 13;
    grid-row: 1/13;
}

.div_quad{
    grid-column: 26;
    grid-row: 22/32;
}

